
.containar{
    height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(auto,1fr);
    grid-template-columns: repeat(auto,1fr);
}
.box{
    height: 50px;
    width: 50px;
    border: 2px solid #ff0000;
}

.i1{
    background-color: #00ffff;
    grid-column: 1/4;
    grid-row: 1/5;
}
.i5{
    background-color: #0000ff;
    grid-column: 5/8;
    grid-row: 7/8;
}